/* IMPOSTATO LE GRANDEZZE GENERALI DELLA PAGINA E IL FONT */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik Mono One', sans-serif;
    scroll-behavior: smooth;
}
/* IMPOSTATO LE GRANDEZZE GENERALI DI OGNI SEZIONE DELLA PAGINE */
.box {
    height: 100vh;
    width: 100%;
    position: relative;
}
/* IMPOSTATO IL COLORE ROSSO AL ID RED */
#red {
    background-color: #ff0000;
}
/* IMPOSTATO IL VERDE AL ID GREEN */
#green {
    background-color: #008000;
}
/* IMPOSTATO IL COLORE GIALLO AL ID YELLOW */
#yellow {
    background-color: #ffff00;
}
/* IMPOSTATO GRANDEZZE E POSIZIONE DEL CONTENITORE DEL TESTO E DELL'IMMAGINE */
.container {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
}
/* IMPOSTATO GRANDEZZE DELLE IMMAGINE */
img {
    width: 100%;
}
/* IMPOSTATO LA GRANDEZZA E LA POSIZIONE DEL TESTO */
h1 {
    font-size: 30px;
    text-align: center;
}
/* IMPOSTATO IL COLORE GIALLO AL TESTO DELLE PRIME DUE SEZIONI */
#red, #green h1 {
    color: #ffff00;
}
/* IMPOSTATO IL COLORE GIALLO AL TESTO DELLE PRIME DUE SEZIONI */
#yellow h1 {
    color: #008000;
}
/* IMPOSTATO LA POSIZIONE DEL MENU' */
.menu {
    position: fixed;
    top: 30px;
    right: 20px;
    z-index: 999;
}
/* IMPOSTATO LA LISTA COME INLINE-BLOCK PER L'ALLINEAMENTO ORIZZONTALE */
.menu ul li {
    display: inline-block;
}
/* STILIZZATO LE VOCI DEL MENU' */
.menu ul li a{
    background-color: #fff;
    border-radius: 50%;
    text-decoration: none;
    padding: 5px 10px;
    color: black;
}
/* IMPOSTATO L'OMBREGGIATURA DELLE VOCI DEL MUNU AL PASSAGGIO DEL MOUSE */
.menu ul li a:hover{
    box-shadow: 0px 0px 10px 2px black;
}